body{
    font-family:'Montserrat';
    text-align:center;
}
#title{
    text-align:left;
    background-color:#ff4c68;
    color:white;
    height:100%;
}
h1, h2, h3, h4, h5, h6{
    font-family:"Montserrat", sans-serif;
    font-weight: 700;
}

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color:#fff;
}
.section-heading{
    font-size:3rem;
    line-height:1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.color-section{
    background-color:#ff4c68;
    color:white;
}
.white-section{
    background-color:#fff;
}

/* navigation bar */
.navbar{
    padding:0 0 4.5rem 0;
}
.navbar-brand{
    font-family:'Ubuntu';
    font-size:2.5rem;
    font-weight:bold;
}
.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family:'Montserrat-Thin';
}

.download-btn{
    margin:5% 3% 5% 0;
}
.title-image{
    width:20%;
    transform: rotate(25deg);
    position:absolute;
    right:23%;
}

/* 2nd page */
#features{
    padding:7% 15%;
    position:relative;
}
.feature-title{
    font-size: 1.5rem;
}
.feature-container {
    padding:50px:
}
.fa-solid{
    color:#cf8172;
    font-size:400%;
    margin-bottom:1rem;
}
.fa-solid:hover{
    color: #ff4c68;
}
.character{
    color:#8f8f8f;
}

/* Testimonials */

#testimonials{
    background-color:#ef8172;
    color:#fff;
}
.testimonial-text{
    font-size:3rem;
    line-height:1.5;
}
.testimonials-img{
    width:10%;
    border-radius:100%;
    margin:20px
}
.carousel-item{
    padding:7% 15%;
}
#press{
    background-color:#ef8172;
    padding-bottom:3%;
}
.press-img{
    width:15%;
    margin:20px 20px 50px;
}

.row{
}


/* pricing*/
#pricing{
    padding:100px;
}

.pricing-text{
    font-size:3rem;
    line-height:1.5;
}
.pricing-col{
    padding:3% 2%;
}

/* last */
#cta{
    padding:7% 15%;
}


#footer{
    padding: 5% 0;
}
.social-icon{
    margin:20px 10px;
}
@media (max-width: 1028px){
    .title-image{
        position: static;
        width:60%;
        transform: rotate(0);
    }
    #features{
        position: static;
    }
}

